.card {
  background-color: $base-background;
  padding: 43px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 7px $base-background;

  @media (min-width: $tablet-width) {
    padding: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 75px;
  }

  &:hover,
  &:focus-within {
    border: 7px solid #00359f;
    border-image: linear-gradient(142deg, #d10a42 0%, #00359f 100%);
    border-image-slice: 1;
  }

  &:hover .card__link {
    color: $text-color-light;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    box-shadow: none;
  }
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 18px;
  }
}

.card__intro {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.card__price {
  font-size: 48px;
  line-height: 150%;
  font-weight: 700;
  color: #103aae;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 150%;
  }
}

.card__link {
  width: 100%;
  padding: 27px;
  box-shadow: inset  0 0 0 2px $border-dark;
  color: $text-color;

  @media (min-width: $tablet-width) {
    padding: 27px;
  }

  &:hover {
    color: $text-color-light;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    box-shadow: none;
  }

  &:focus {
    color: $text-color-light;
    outline: none;
    box-shadow: inset  0 0 0 1px #000000, 0 0 0 1px #000000;
    background: linear-gradient(151deg, rgba(237, 2, 51, 0.8) 0%, rgba(0, 62, 183, 0.8) 100%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    box-shadow: none;
  }

  &--disabled {
    opacity: 0.3;
    color: rgba(16, 38, 84, 0.3);
    box-shadow: inset  0 0 0 1px $border-dark, 0 0 0 1px $border-dark;
    background: transparent;
    pointer-events: none;
  }
}

.card__price-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 70px;
  padding-bottom: 10px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    gap: 14px;
    padding-bottom: 0;
    padding-top: 60px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.card__background {
  display: block;
  position: absolute;
  font-size: 80px;
  line-height: 150%;
  font-weight: 700;
  color: #f4f4f4;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    font-size: 100px;
    line-height: 150%;
  }
}

.card__price-icon {
  display: block;
  width: 24px;
  height: 33px;
  background-image: url("/__spritemap#sprite-ruble-icon-view");

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}
