.faq {
  background-color: $light-background;
  padding-top: 70px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 100px;
  }
}

.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__info-container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
    width: 100%;
  }
}

.faq__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    align-self: flex-start;
  }
}

.faq__navigation-list {
  @include list;

  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    max-width: 260px;
    flex-shrink: 1;
  }
}

.faq__nav-button {
  width: 100%;
  color: $text-color;
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  background: transparent;
  box-shadow: inset 0 0 0 1px #c9cfdb;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    padding: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 18px 16px;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px $border-dark;
  }

  &:focus {
    outline: none;
    background-color: $base-background;
    box-shadow: inset 0 0 0 1px $border-dark;
  }

  &:active {
    color: $text-color-light;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.2;
    box-shadow: inset 0 0 0 1px $border-dark;
    pointer-events: none;
  }

  &--current {
    color: $text-color-light;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    box-shadow: none;
  }
}
