.footer-nav__list {
  @include list;

  display: flex;
  column-gap: 35px;
  row-gap: 20px;
  flex-wrap: wrap;


  @media (min-width: $tablet-width) {
    column-gap: 30px;
    max-width: 400px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
    max-width: 600px;
  }
}

.footer-nav__link {
  @include link;

  color: $text-color-light;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
