.footer {
  background-color: $dark-background;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}
