.games__info {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.games__container {
  background-color: $accent-background;
  padding-bottom: 290px;
  background-image: image-set(
    url("../img/games-mobile@1x.webp") type("image/webp") 1x,
    url("../img/games-mobile@2x.webp") type("image/webp") 2x,
    url("../img/games-mobile@1x.jpg") type("image/jpg") 1x,
    url("../img/games-mobile@2x.jpg") type("image/jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: 290px 290px;
  background-position: bottom center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-right: 378px;
    background-image: image-set(
      url("../img/games-tablet@1x.webp") type("image/webp") 1x,
      url("../img/games-tablet@2x.webp") type("image/webp") 2x,
      url("../img/games-tablet@1x.jpg") type("image/jpg") 1x,
      url("../img/games-tablet@2x.jpg") type("image/jpg") 2x,
    );
    background-size: 378px 348px;
    background-position: top right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 660px;
    background-image: image-set(
      url("../img/games-desktop@1x.webp") type("image/webp") 1x,
      url("../img/games-desktop@2x.webp") type("image/webp") 2x,
      url("../img/games-desktop@1x.jpg") type("image/jpg") 1x,
      url("../img/games-desktop@2x.jpg") type("image/jpg") 2x,
    );
    background-size: 660px 500px;
  }
}

.games__info-container {
  padding: 40px;
  display: grid;
  grid-template-columns: 117px 56px;
  column-gap: 32px;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 100px 100px;
    column-gap: 20px;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px 98px;
    grid-template-columns: 168px 95px;
    column-gap: 77px;
    row-gap: 30px;
  }
}

.games__title {
  font-family: $font-alumny;
  color: $text-color-light;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;
  }
}

.games__intro {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $text-color-light;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.games__link {
  @include link;

  color: $text-color-light;
  text-align: center;
  padding: 22px;
  border: solid $border-light 2px;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 27px;
  }

  &:hover {
    background-color: $base-background;
    color: #103aae;
  }

  &:focus {
    border: solid 2px #000000;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    color: #103aae;
    outline: none;
  }

  &:active {
    background-color: $base-background;
    color: $text-color;
  }

  &--disabled {
    opacity: 50%;
    color: rgba($color: #ffffff, $alpha: 0.5);
    pointer-events: none;
  }
}

.games__date-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 13px auto;
    column-gap: 5px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 21px auto;
  }
}

.games__date-title {
  display: inline-block;
  color: $text-color-light;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  width: 100%;
  border-bottom: solid 1px $border-light;
  padding-bottom: 2px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
}

.games__date-accent {
  color: $text-color-light;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: $tablet-width) {
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-top: 2px;
  }
}

.games__date {
  color: $text-color-light;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

