.header {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 84px;
  }

  @media (min-width: $desktop-width) {
    min-height: 86px;
  }
}

.header__tel {
  @include link;


  color: $text-color-light;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-dark;
    opacity: 0;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      bottom: 24px;
    }
  }

  &:hover {
    opacity: 50%;
    color: #1c3374;
  }

  &:focus {
    color: #1c3374;
    outline: none;
  }

  &:active {
    color: $text-color;
  }

  &:active::before {
    opacity: 1;
  }

  &--disabled {
    color: #f8f9fc;
    pointer-events: none;
  }
}

.header__tel-container {
  position: relative;
  max-width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    max-width: 950px;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 18px;
  box-sizing: content-box;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
