.page__body {
  font-family: $font-roboto;
  font-size: 14px;
  font-weight: 22px;
  font-style: normal;
  color: $text-color;
  background-color: $base-background;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

