.questions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.questions__list {
  display: flex;
  flex-direction: column;
}

.questions__item {
  border-bottom: solid $border-neutral 1px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    padding-bottom: 22px;
  }

  &:first-child {
    border-top: solid $border-neutral 1px;
  }
}

.questions__item--open .questions__button {
  background-color: $medium-background;
}

.questions__item--open .questions__button::after {
  display: none;
}

.questions__item--open .questions__button::before {
  background-color: $base-background;
}

// .questions__item summary {
//   list-style: none;
//   position: relative;
//   padding-right: 55px;
//   min-height: 30px;
//   display: flex;
//   align-items: center;

//   @media (min-width: $tablet-width) {
//     padding-right: 120px;
//     min-height: 40px;
//   }

//   @media (min-width: $desktop-width) {
//     padding-right: 130px;
//   }

//   &:hover::before {
//     background-color: $medium-background;
//   }

//   &:focus-visible {
//     outline: none;
//   }

//   &:focus-visible::before {
//     outline: none;
//     background-color: #74819c;
//   }

//   &:hover .questions__button-icon::before,
//   &:hover .questions__button-icon::after,
//   &:focus-visible .questions__button-icon::before,
//   &:focus-visible .questions__button-icon::after {
//     background-color: $base-background;
//   }
// }

.questions__button {
  position: relative;
  padding: 0;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid $border-medium 1px;
  background: transparent;

  &:hover {
    background-color: $medium-background;
  }

  &:focus-visible {
    outline: none;
    background-color: #74819c;
  }

  &:hover::before,
  &:hover::after,
  &:focus-visible::before,
  &:focus-visible::after {
    background-color: $base-background;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.questions__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 1px;
  background-color: $border-medium;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 1px;
  }
}

.questions__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 14px;
  background-color: $medium-background;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  @media (min-width: $tablet-width) {
    width: 1px;
    height: 20px;
  }
}

.questions__content {
  overflow-y: hidden;
  max-height: 0;
  transition: 0.5s;
}

.questions__item p {
  margin: 0;
  padding-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
    padding-right: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    padding-right: 200px;
  }
}

.questions__header-container {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 30px;
  min-height: 30px;
  gap: 25px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 40px;
    min-height: 40px;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    gap: 90px;
  }

  &:hover .questions__button {
    background-color: $medium-background;
  }

  &:focus-visible .questions__button {
    outline: none;
    background-color: #74819c;
  }

  &:hover .questions__button::before,
  &:hover .questions__button::after,
  &:focus-visible .questions__button::before,
  &:focus-visible .questions__button::after {
    background-color: $base-background;
  }
}

.questions__item h3 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
