.social {
  @include list;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 15px;
    max-width: 105px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.social__link {
  @include link;

  height: 25px;
  width: 25px;
  border-radius: 50%;

  &:hover .social__icon {
    color: $border-neutral;
    fill: $base-background;
  }

  &:focus {
    outline: none;
  }

  &:focus .social__icon {
    color: #103aae;
    fill: $base-background;
  }

  &:active .social__icon {
    color: $secondary-medium-background;
    fill: $base-background;
  }

  &--disabled .social__icon {
    color: rgba($color: $base-background, $alpha: 0.3);
  }
}

.social__icon {
  height: 25px;
  width: 25px;
  color: $base-background;
  fill: $dark-background;
}


