.tabs__navigation {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px #dedfe2;
  margin-bottom: 30px;

  @media (min-width:$tablet-width) {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  @media (min-width:$desktop-width) {
    width: 350px;
    margin-bottom: 40px;
  }
}

.tabs__navigation-link {
  @include link;

  color: $text-color;
  opacity: 50%;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 18px;

  @media (min-width:$tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  @media (min-width:$desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.tabs__cards-list {
  @include list;

  display: grid;
  gap: 35px;

  @media (min-width:$tablet-width) {
    gap: 40px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width:$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}
