//fonts
$font-alumny: "Alumni Sans", "Arial", sans-serif;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;

//color
$text-color: #102654;
$text-color-light: #ffffff;

$base-background: #ffffff;
$medium-background: #f8f9fc;

$border-light: #ffffff;

//adaptive
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
