//fonts
$font-alumny: "Alumni Sans", "Arial", sans-serif;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;

//color
$text-color: #102654;
$text-color-light: #ffffff;
$text-color-accent: #2e35ac;

$base-background: #ffffff;
$light-background: #f8f9fc;
$medium-background: #1c3374;
$secondary-medium-background: #102654;
$dark-background: #030a1a;
$accent-background: #ed0233;


$border-light: #ffffff;
$border-neutral: #74819c;
$border-dark: #102654;

//adaptive
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
